html{
  box-sizing: border-box;
  margin:0px;
}
.barra-sup {
  z-index:5;
    display: flex;
    text-align: right;
    text-decoration: none;
    position: fixed;
    padding: 40px;
    width: 99%;
    height: 80px;
    margin: -35px;
    margin-left: -30px;
    border: 0px transparent;
    border-radius: 2000px;
    background-image: linear-gradient(to top, #ffffff , #3bb895 60%);
}
#link-ancora{
  text-decoration: none;
}
#contato{
  cursor:pointer;
}
.navbar{
  display: inline-block;
  list-style: none;
}
.li-navbar{
  display:inline-block;
}
.navegacao{
  z-index:-1;
  color:#f2f2f2;
  text-decoration: none;
  cursor: pointer;
  padding: 1px;
  height: 68px;
  font-size: 28px;
  margin: 0px 20px;
}
.h2-free-lancer{
  z-index:-1;
  color:#ffffff;
  display: flex;
  width: 130px;
  padding-left: 7px;
  font-size: 30px;
  margin-right: 750px;
  font-weight: bold;
}
.color-freelancer{
  color:#000000;
}
.area-container{
  display:inline-block;
  height: 800px;
}
.enzo-superior{
  z-index:-1;
  position:relative;
  display: inline-block;
  margin:10px;
  left:1070px;
  top:90px;
  height: 700px;
}
.container{
  text-align:justify;
  font-family:'Lucida Grande', 'Lucida Sans Unicode',Verdana, sans-serif;
  font-weight: lighter;
  position:relative;
  display: inline-block;
  margin-left: 300px;
  margin-right:900px;
  left:70px;
  bottom:420px;
}
.hello{
  color:#3bb895;
  font-size: 25px;
  letter-spacing: 1.9pt;
}
.john{
  position:relative;
  font-size: 28px;
  top:-27px;
  left:-5px;
}
.sub-texto{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 3.0pt;
  color:#253047;
  font-size: 17px;
}
.paragrafo-container{
  color:#646f87;
  font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
.botao-contratar{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  position:relative;
  display: inline-block;
  color:#000000;
  top:700px;
  left:365px;
  background-color: #32c89d;
  color:#ffffff;
  padding:20px 55px;
  border-radius:10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
.icones-sociais{
  position: fixed;
  top:270px;
  left:14px;
  text-align: center;
  border: 1px solid #6087dd;
  border-radius: 10px;
  padding: 10px 10px;
}
.icone-fb{
  display: block;
  width: 30px;
  height: 25px;
  margin:10px 0px;
}
.icone-twitter{
  display:block;
  width: 30px;
  height: 35px;
  margin:10px 1px;
}
.icone-instagram{
  display:block;
  width: 30px;
  height: 35px;
  margin:7px 2px;
}
.icone-linkedin{
  display:block;
  width: 30px;
  height: 35px;
  margin:7px 2px;
}
/* encerramento primeira parte*/
.container-dois{
  align-items: center;
  display:flex;
  height: 690px;
  width: 1900px;
  margin:-10px;
}
.enzo-de-lado {
  align-items: center;
  display: flex;
  float: left;
  margin: 10px 50px 30px 360px;
  height: 600px;
}

.enquadramento-texto{
  text-align: justify;
  display: inline;
  align-items: center;
  margin:100px 580px 0px 1px;
  padding: 10px 10px;
}
.h2-about{
  z-index: -1;
 color:#32c89d;
 text-align: justify;
 font-size: 22px;
}
.h2-titulo{
  font-family:Verdana, sans-serif;
 font-size:36px;
 text-align: justify;
}
.contexto-texto{
  font-size: 18px;
  text-align: justify;
  margin:0px 435px 0px 0px;
  color:#84868c;
}
.contratar-titulo{
  font-family:Verdana, sans-serif;
  font-size: 14px;
  font-weight: lighter;
}
.progressbar{
  width:25.6%;
  background-color:#7aa574;
  color:#92a99d;
  height: 1rem;
}
progress::-webkit-progress-value{
  background-color: #32c89d;
  
}
::-webkit-progress-bar {
  background-color:#d3d3d3;
}
/* encerramento segunda parte*/
.container-projetos{
  align-items: center;
  display:flex;
  height: 840px;
  width: 1900px;
  margin:-10px;
  background:#f9f9f9;
}
.contexto-services{
  display: inline-block;
  background: #f9f9f9;
  height: 600px;
  width: 1080px;
  margin-left: 391px;
  margin-bottom: 30px;
}
.services{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  font-weight:normal;
  font-size: 23px;
  color:#32c89d;
  text-align: center;
}
.subtitulo-services{
  font-family: 'monteserrat', sans-serif;
  font-size: 38px;
  text-align: center;
  font-weight:500;
}
.slides-servico{
  display:flex;
  flex-wrap:wrap;
  height: 550px;
  width: 1080px;
}
.listas-servico{
  box-shadow:3px 3px 3px 3px #c6c0c0, -0.3em  0.09em #c6c0c0;
  display:inline-block;
  flex: 22%;
  align-items: center;
  list-style: none;
  margin:15px;
 
}
.lista-individual{
  display: inline-block;
  color:#646f87;
  font-weight:400;

}
.icone-design{
  display:inline-block;
  align-items: center;
  height: 85px;
  width: 80px;
}
.icone-web{
  display:inline-block;
  align-items: center;
  height: 70px;
  width: 75px;
  margin-top:10px;
}
.titulo-graphics{

  text-align: center;
  font-size:25px;
}
.icone-ux{
  display:inline-block;
  align-items: center;
  height: 80px;
  width: 75px;
  margin-top:0px;
}
.icone-development{
  display:inline-block;
  align-items: center;
  height: 70px;
  width: 75px;
  margin-top:7px;
}
.icone-analisys{
  display:inline-block;
  align-items: center;
  height: 70px;
  width: 75px;
  margin-top:7px;
}
.title-service{
  margin-bottom:20px;
  margin-top:10px;
}